<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Admin home</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a routerLink="/home" class="nav-link">Home</a></li>
      <li class="nav-item"><a routerLink="/add-new-emp" class="nav-link">add new employee</a></li>
      <li class="nav-item"><a routerLink="/search-emp" class="nav-link">search employee</a></li>
      <li class="nav-item"><a routerLink="/meeting" class="nav-link">meeting</a></li>
      <li class="nav-item"><a routerLink="/leaves" class="nav-link">leaves</a></li>
      <li class="nav-item"><a routerLink="/querries" class="nav-link">querries</a></li>
      <li class="nav-item"><a routerLink="/generate-sleep" class="nav-link">Generate salary sleep</a></li>


      <li (click)="onLogout()" class="nav-item"><a class="nav-link">Logout</a></li>
    </ul>
  </div>

</nav>

<div class="container" style="margin-top: 20px;">
  <router-outlet></router-outlet>
</div>