<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="form">
        <div class="form-group">
          <label for="">name</label>
          <input  type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">email</label>
          <input  type="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="">addrees</label>
            <input  type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="">birthdate</label>
            <input  type="date" class="form-control">
        </div>
        <div class="form-group">
            <label for="">password</label>
            <input  type="password" class="form-control">
        </div>
        <div class="form-group">
            <label for="">confirm password</label>
            <input  type="password" class="form-control">
        </div>
        <div class="form-check">
            <input id="my-input" class="form-check-input" type="checkbox" name="" value="true">
            <label for="my-input" class="form-check-label">male</label>
        </div>
        <div class="form-check">
            <input id="my-input" class="form-check-input" type="checkbox" name="" value="true">
            <label for="my-input" class="form-check-label">female</label>
        </div>
        <div class="form-check">
            <input id="my-input" class="form-check-input" type="checkbox" name="" value="true">
            <label for="my-input" class="form-check-label">others</label>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
  
